@model IEnumerable<MusicApp.Models.Album>

@{
    ViewBag.Title = "Albums";
}

<h2>Albums</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>



<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-3 col-xs-6">
            <div class="thumbnail">

                <img id="artist-img" src="@Html.DisplayFor(modelItem => item.AlbumPhoto)" />
                
                <p id="by">by</p><h3 id="by">@Html.DisplayFor(modelItem => item.Artist.ArtistName)</h3>
                @Html.ActionLink("Details", "Details", new { id = item.ArtistID })

            </div>
        </div>
    }
</div>
